@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* :root {
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.section {
  padding: 50px;
  margin: auto;
  max-width: 1500px;
}

.section h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

.line {
  height: 2px;
  width: 100px;
  background-color: #fff;
  margin: 10px 0;
}

/* HOME */
.section.home {
  max-width: none;
}

.home {
  height: 100vh;
  background-color: #008080;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home h1 {
  margin-bottom: 20px;
}

.home h3 {
  margin: 10px 0;
}

.home .fa-chevron-down {
  font-size: 50px;
  position: absolute;
  bottom: 30px;
}

.home .btn-start {
  border-top: 50px solid red;
  border-bottom: 50px solid none;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
}

.home .btn-start:focus {
  outline: none;
}

.home .line {
  width: 300px;
}

/* MAIN */
/* max-height 추가해서 너무 작아지면 내용 없애버리기 */
.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main h1 {
  height: 10vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.main .main-container .details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
  background-color: aquamarine;
  padding: 50px 50px;
}

.main-container .details .details-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.main .main-container .details h3 {
  margin-bottom: 10px;
}

.main .main-container .details p {
  margin-bottom: 10px;
}

.main .main-container .details .btn-resume {
  background-color: #fff;
  color: #0d98ba;
  width: 120px;
  height: 40px;
  border: 2px solid #0d98ba;
  border-radius: 1px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 5px 10px;
  cursor: pointer;
}

.main .main-container .details .btn-resume:hover {
  background-color: #0d98ba;
  color: #fff;
}

.main .main-container .preview {
  display: flex;
  width: 100%;
  height: 40%;
  /* max-width: 1200px; */
  /* 작아지면 height 30?으로 바꾸기?? */
  margin-top: 6px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.main-container .preview .preview-skills,
.main-container .preview .preview-projects,
.main-container .preview .preview-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 100%;
  text-align: center;
  background-color: aqua;
  margin: 3px;
  cursor: pointer;
}

.main-container .preview .preview-skills:hover,
.main-container .preview .preview-projects:hover,
.main-container .preview .preview-contacts:hover {
  /* preview 이미지 및 밝이 어둡게 */
  background-color: rgba(0, 0, 0, 0.3);
}

/* Skills */
.skills p {
  margin-bottom: 20px;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-card {
  background-color: brown;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 300px;
  height: 300px;
  max-width: 1200px;
  color: blueviolet;
  font-size: 20px;
  cursor: pointer;
  overflow: hidden;
}

.skill-card i {
  font-size: 70px;
}

.skill-card .fa-html5:hover,
.skill-card .fa-html5.checked {
  background-color: antiquewhite;
  color: #333;
  box-shadow: 30px 10px 0 2000px antiquewhite;
}

.skill-card .fa-css3:hover,
.skill-card .fa-css3.checked {
  background-color: antiquewhite;
  color: #333;
  box-shadow: 0 10px 0 2000px antiquewhite;
}

.skill-card .fa-js:hover,
.skill-card .fa-js.checked {
  background-color: antiquewhite;
  color: #333;
  box-shadow: 0 10px 0 2000px antiquewhite;
}

.skill-card .fa-react:hover,
.skill-card .fa-react.checked {
  background-color: antiquewhite;
  color: #333;
  box-shadow: -30px 10px 0 2000px antiquewhite;
}

/* Projects */
.projects-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.projects-container .project-categories {
  width: 100%;
}

.projects-container .project-categories .category-btn {
  width: 23%;
  height: 40px;
  cursor: pointer;
  border: none;
  padding: 5px 20px;
  background-color: cadetblue;
  font-size: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
}

.category-btn.selected,
.category-btn:hover {
  transform: scaleY(1.3) translateY(-5px);
}

.category-btn.selected::after,
.category-btn:hover:after {
  content: "4";
  position: absolute;
  top: -20px;
  right: 20px;
  width: 20px;
  height: 50px;
  background-color: transparent;
  border: 0.5px #000 solid;
}

.category-btn.selected::before,
.category-btn:hover:before {
  content: "";
  position: absolute;
  top: -20px;
  right: 21px;
  width: 20px;
  height: 20px;
  background-color: aquamarine;
}

.category-btn.mark-up.selected::after,
.category-btn.mark-up:hover:after {
  content: "2";
  position: absolute;
  top: -20px;
  right: 20px;
  width: 20px;
  height: 50px;
  background-color: transparent;
  border: 0.5px #000 solid;
}

.category-btn.mark-up.selected::before,
.category-btn.mark-up:hover:before {
  content: "";
  position: absolute;
  top: -20px;
  right: 21px;
  width: 20px;
  height: 20px;
  background-color: aquamarine;
}

.category-btn.active-web.selected::after,
.category-btn.active-web:hover:after {
  content: "1";
  position: absolute;
  top: -20px;
  right: 20px;
  width: 20px;
  height: 50px;
  background-color: transparent;
  border: 0.5px #000 solid;
}

.category-btn.active-web.selected::before,
.category-btn.active-web:hover:before {
  content: "";
  position: absolute;
  top: -20px;
  right: 21px;
  width: 20px;
  height: 20px;
  background-color: aquamarine;
}

.category-btn.react-web.selected::after,
.category-btn.react-web:hover:after {
  content: "1";
  position: absolute;
  top: -20px;
  right: 20px;
  width: 20px;
  height: 50px;
  background-color: transparent;
  border: 0.5px #000 solid;
}

.category-btn.react-web.selected::before,
.category-btn.react-web:hover:before {
  content: "";
  position: absolute;
  top: -20px;
  right: 21px;
  width: 20px;
  height: 20px;
  background-color: aquamarine;
}

.projects-container .project-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  width: 100%;
}

.projects-container .project-list .project-title {
  margin-bottom: 20px;
  font-size: 20px;
}

.projects-container .project-list .project-result {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 50px;
}

.project-result .design-result {
  position: relative;
}

.project-result .design-result .project-description {
  /* description도 project 박스 안에서
  자리를 차지하는 클래스 이기 때문에
  마우스가 올라갔을 때 description이 전체적인 박스에
  나타내려고 한다면
  그 자리를 벗어나서 덮어져야 하므로
  absolute로 해준다. */
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: medium;
  transform: translateY(10px);
  transition: all 0.5s ease-in;
}

.design-result:hover .project-description {
  transform: translateY(0px);
  opacity: 0.8;
}

.project-description h3 {
  color: orange;
}

.project-description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 25px;
  height: 2px;
  margin-left: -12px;
  margin-top: 8px;
  background-color: gray;
  transform: translateX(-50%);
}

.project-list .project-result img {
  width: 200px;
  height: 270px;
  margin: 0 40px;
}

/* Contact */
/* 명함이 탁 나오는 그런 애니메이션 구현? */
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-container .contact-info {
  background-color: cornflowerblue;
  display: flex;
  width: 600px;
  height: 350px;
  border-radius: 10px;
  margin-bottom: 50px;
  margin-top: 30px;
  position: relative;
}

.contact-container .contact-info h3 {
  margin-right: auto;
  position: absolute;
  top: -30px;
  left: 15px;
}

.contact-container .contact-info .info-left {
  width: 45%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.contact-container .contact-info .info-right {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
}

.contact-container .contact-links {
  background-color: #20b2aa;
  width: 100%;
  height: 100%;
  font-size: 50px;
  text-align: center;
  margin: 0;
}

.contact-container .contact-links p {
  font-size: 15px;
  color: #333;
}
