@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* :root {
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.section {
  padding: 50px;
  margin: auto;
}

.section h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

.line {
  height: 2px;
  width: 100px;
  background-color: #fff;
  margin: 10px 0;
}

/* HOME */
.home {
  height: 100vh;
  background-color: #008080;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home h1 {
  margin-bottom: 20px;
}

.home h3 {
  margin: 10px 0;
}

.home .btn-start {
  border-top: 50px solid red;
  border-bottom: 50px solid none;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
}

.home .btn-start:focus {
  outline: none;
}

.home .line {
  width: 300px;
}

/* MAIN */
.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.main .main-container .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 50%;
  background-color: aquamarine;
  padding: 25px 50px;
}

.main .main-container .details h3 {
  margin-bottom: 10px;
}

.main .main-container .details p {
  margin-bottom: 10px;
}

.main .main-container .details .btn-resume {
  background-color: #fff;
  color: #0d98ba;
  width: 120px;
  height: 40px;
  border: 2px solid #0d98ba;
  border-radius: 1px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 5px 10px;
  cursor: pointer;
}

.main .main-container .details .btn-resume:hover {
  background-color: #0d98ba;
  color: #fff;
}

.main .main-container .preview {
  display: flex;
  width: 100%;
  height: 50%;
  /* max-width: 1200px; */
  /* 작아지면 height 30?으로 바꾸기?? */
  cursor: pointer;
  margin: 20px 0;
}

.main-container .preview .preview-skills,
.main-container .preview .preview-projects,
.main-container .preview .preview-contacts {
  width: 33%;
  text-align: center;
  line-height: 200px;
  background-color: aqua;
  margin: 3px;
}

.main-container .preview .preview-skills:hover,
.main-container .preview .preview-projects:hover,
.main-container .preview .preview-contacts:hover {
  /* preview 이미지 및 밝이 어둡게 */
  background-color: rgba(0, 0, 0, 0.3);
}

/* Skills */
.skills p {
  margin-bottom: 20px;
}

.skills-container {
  display: flex;
}

.skill-card {
  background-color: brown;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 300px;
  height: 300px;
  max-width: 1200px;
  color: blueviolet;
  font-size: 20px;
  cursor: pointer;
}

.skill-card i {
  font-size: 70px;
}

/* Projects */
.projects-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.projects-container .project-categories {
  width: 100%;
}

.projects-container .project-categories .category-btn {
  width: 33%;
  height: 40px;
  cursor: pointer;
  border: none;
  padding: 5px 20px;
  background-color: cadetblue;
  font-size: 15px;
}

.projects-container .project-list {
  display: flex;
}

/* Contact */

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-container .contact-info {
  background-color: cornflowerblue;
  display: flex;
  width: 600px;
  height: 350px;
  border-radius: 10px;
  margin-bottom: 50px;
  margin-top: 30px;
  position: relative;
}

.contact-container .contact-info h3 {
  margin-right: auto;
  position: absolute;
  top: -30px;
  left: 15px;
}

.contact-container .contact-info .info-left {
  width: 45%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.contact-container .contact-info .info-right {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
}

.contact-container .contact-links {
  font-size: 50px;
  margin: 10px;
}
